.enter {
  pointer-events: none;
  opacity: 0;
}

.enterActive {
  pointer-events: auto;
  opacity: 1;
}

.exit {
  pointer-events: auto;
  opacity: 1;
}

.exitActive {
  pointer-events: none;
  opacity: 0;
}

.enterActive,
.exitActive {
  transition: 0.2s ease-in-out;
}
