:root {
  --border-dark: #262626;
  --border-generic: #0000000f;
  --border-light: #ffffff;
  --border-light-85: #ffffffd9;
  --border-background: #262626;
  --border-danger: #c93636;
  --border-primary: #fdc268;
  --border-primary-active: #fdb84f;
  --border-primary-hover: #fdcc81;
  --surface-dark: #262626;
  --surface-generic: #fffbf8;
  --surface-generic-accent: #e9d7cf;
  --surface-generic-hover: #f9f0eb;
  --surface-light: #ffffff;
  --surface-light-85: #ffffffd9;
  --surface-primary: #fdc268;
  --surface-background: #262626;
  --surface-primary-active: #fdb84f;
  --surface-primary-hover: #fdcc81;
  --text-brown: #7e4837;
  --text-danger: #c93636;
  --text-dark-hint: #00000040;
  --text-dark-primary: #000000d9;
  --text-dark-secondary: #00000073;
  --text-primary: #fdc268;
  --text-primary-active: #fdb84f;
  --text-primary-hover: #fdcc81;
  --text-secondary: #284458;
  --text-secondary-active: #0472a9;
  --text-secondary-hover: #035279;
  --text-text-primary-inverse: #ffffff;
}

:root[data-theme="dark"] {
  --border-dark: #262626;
  --border-generic: #ffffff0f;
  --border-light: #ffffff;
  --border-light-85: #ffffffd9;
  --border-background: #262626;
  --border-danger: #c93636;
  --border-primary: #fdc268;
  --border-primary-active: #fdb84f;
  --border-primary-hover: #fdcc81;
  --surface-dark: #262626;
  --surface-generic: #035279;
  --surface-generic-accent: #284458;
  --surface-generic-hover: #222f3b;
  --surface-light: #ffffff;
  --surface-light-85: #ffffffd9;
  --surface-primary: #fdc268;
  --surface-background: #262626;
  --surface-primary-active: #fdc268;
  --surface-primary-hover: #fdc268;
  --text-brown: #ffffff;
  --text-danger: #c93636;
  --text-dark-hint: #ffffff40;
  --text-dark-primary: #ffffff;
  --text-dark-secondary: #ffffff73;
  --text-primary: #fdc968;
  --text-primary-active: #fdb84f;
  --text-primary-hover: #fdcc81;
  --text-secondary: #284458;
  --text-secondary-active: #0472a9;
  --text-secondary-hover: #035279;
  --text-text-primary-inverse: #000000d9;
}

:root {
  --font-sizes-2xs: 0.625rem;
  --font-sizes-xs: 0.75rem;
  --font-sizes-sm: 0.875rem;
  --font-sizes-md: 1rem;
  --font-sizes-lg: 1.125rem;
  --font-sizes-xl: 1.25rem;
  --font-sizes-2xl: 1.5rem;
  --font-sizes-3xl: 1.875rem;
  --font-sizes-4xl: 2.25rem;
  --font-sizes-5xl: 3rem;
  --font-sizes-6xl: 3.75rem;
  --font-sizes-7xl: 4.5rem;
  --font-sizes-8xl: 6rem;
  --font-sizes-9xl: 8rem;
}
